<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pulluaz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".AddActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".StatisticActivity" />
        <activity android:name=".NotificationActivity" />
        <activity
            android:name=".registartion_package.LastRegistrationActivity"
            android:parentActivityName=".registartion_package.CountriesRegistrActivity" />
        <activity
            android:name=".registartion_package.CountriesRegistrActivity"
            android:parentActivityName=".registartion_package.SecondRegistrationActivity" />
        <activity
            android:name=".registartion_package.RegActivity"

            android:windowSoftInputMode="adjustResize" >


        </activity>

        <activity android:name=".AdsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
            android:name=".registartion_package.SecondRegistrationActivity"
            android:parentActivityName=".registartion_package.RegActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>